<!-<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monster Mayhem</title>
    <link rel="stylesheet" href="css/style.css">   
</head>
<body>
    <h1>Welcome to Monster Mayhem</h1>
    <form action="/game" method="POST">
        <label class="playerName" for="playerName">Type Your Name:</label>
        <input type="text" id="playerName" name="playerName" required>
        
        <label class="playerName" for="invitationCode">Invitation Code (optional):</label>
        <input type="text" id="invitationCode" name="invitationCode">
        
        <button class="submit" type="submit">Start a Game</button>
    </form>
</body>
</html>